In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey

In [12]:
# Import CitiBike file 
bike_trips = pd.read_csv("CitiBike_trips.csv")
bike_trips.head()

,Unnamed: 0,trip,Median Duration (mins),Median time of day,public_duration
0,0,"40.6610633719006,-73.97945255041121|40.6610633...",23.300000,0 days 16:00:00.000000000,NaN
1,1,"40.6610633719006,-73.97945255041121|40.6729679...",7.650000,0 days 14:00:00.000000000,NaN
2,2,"40.663779,-73.98396846|40.6662078,-73.98199886",1.566667,0 days 09:00:00.000000000,NaN
3,3,"40.668132,-73.97363831|40.6610633719006,-73.97...",4.900000,0 days 16:00:00.000000000,NaN
4,4,"40.668132,-73.97363831|40.668132,-73.97363831",21.933333,0 days 14:00:00.000000000,NaN

In [13]:
# separate the trip coordinates into start and end
bike_df = pd.DataFrame(bike_trips.trip.str.split('|',1).tolist(), columns = ['start_coord','end_coord'])
bike_df.head()

                           start_coord                            end_coord
0  40.6610633719006,-73.97945255041121  40.6610633719006,-73.97945255041121
1  40.6610633719006,-73.97945255041121              40.6729679,-73.97087984
2               40.663779,-73.98396846              40.6662078,-73.98199886
3               40.668132,-73.97363831  40.6610633719006,-73.97945255041121
4               40.668132,-73.97363831               40.668132,-73.97363831

In [14]:
# create new dataframe
bike_trip_data = pd.concat([bike_trips,bike_df], axis=1, ignore_index=True)
bike_trip_data.columns = ['index', 'trip', 'Median Duration (mins)', 'Median time of day', 'Public Duration', 'start_coord', 'end_coord']
bike_trip_data.head()

,index,trip,Median Duration (mins),Median time of day,Public Duration,start_coord,end_coord
0,0,"40.6610633719006,-73.97945255041121|40.6610633...",23.300000,0 days 16:00:00.000000000,NaN,"40.6610633719006,-73.97945255041121","40.6610633719006,-73.97945255041121"
1,1,"40.6610633719006,-73.97945255041121|40.6729679...",7.650000,0 days 14:00:00.000000000,NaN,"40.6610633719006,-73.97945255041121","40.6729679,-73.97087984"
2,2,"40.663779,-73.98396846|40.6662078,-73.98199886",1.566667,0 days 09:00:00.000000000,NaN,"40.663779,-73.98396846","40.6662078,-73.98199886"
3,3,"40.668132,-73.97363831|40.6610633719006,-73.97...",4.900000,0 days 16:00:00.000000000,NaN,"40.668132,-73.97363831","40.6610633719006,-73.97945255041121"
4,4,"40.668132,-73.97363831|40.668132,-73.97363831",21.933333,0 days 14:00:00.000000000,NaN,"40.668132,-73.97363831","40.668132,-73.97363831"

In [ ]:
params = {
    "origin": 50000,
    "destination": "airport",
    "mode": "transit"
    "key": gkey
}

base_url = "https://maps.googleapis.com/maps/api/directions/json"

https://maps.googleapis.com/maps/api/directions/json?origin=Disneyland&destination=Universal+Studios+Hollywood4&key=AIzaSyCPQyGwsy0pGDl3BzR76vP83smRHFvFOxo