In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from datetime import *
import time

## Data On: 

## Citi Bike 
['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'name_localizedValue0',
 'usertype',
 'birth year',
 'gender']

[usertype = (Customer = 24-hour pass or 3-day pass user; Subscriber = Annual Member)]

## Capital Bike 
['Duration',
 'Start date',
 'End date',
 'Start station number',
 'Start station',
 'End station number',
 'End station',
 'Bike number',
 'Member type']

[Member Type – Indicates whether user was a "registered" member (Annual Member, 30-Day Member or Day Key Member) or a "casual" rider (Single Trip, 24-Hour Pass, 3-Day Pass or 5-Day Pass)]


## Divvy Bike 

['trip_id',
 'year',
 'month',
 'week',
 'day',
 'hour',
 'usertype',
 'gender',
 'starttime',
 'stoptime',
 'tripduration',
 'temperature',
 'events',
 'from_station_id',
 'from_station_name',
 'latitude_start',
 'longitude_start',
 'dpcapacity_start',
 'to_station_id',
 'to_station_name',
 'latitude_end',
 'longitude_end',
 'dpcapacity_end']

## Capital Bike Share May 2018

In [3]:
df = pd.read_csv('201805-capitalbikeshare-tripdata.csv')

In [4]:
df['Start Date'] = pd.to_datetime(df['Start date']).dt.date
df['Start Time'] = pd.to_datetime(df['Start date']).dt.time

df['End Date'] = pd.to_datetime(df['End date']).dt.date
df['End Time'] = pd.to_datetime(df['End date']).dt.time

In [5]:
list(df.columns.values)

['Duration',
 'Start date',
 'End date',
 'Start station number',
 'Start station',
 'End station number',
 'End station',
 'Bike number',
 'Member type',
 'Start Date',
 'Start Time',
 'End Date',
 'End Time']

In [6]:
Capital_MemberType18 = df.groupby(["Start Date", "Member type"])
Capital_MemberType18.size()

Start Date  Member type
2018-05-01  Casual          2913
            Member         11214
2018-05-02  Casual          2736
            Member         11196
2018-05-03  Casual          2957
            Member         11206
2018-05-04  Casual          4044
            Member         10076
2018-05-05  Casual          4783
            Member          7469
2018-05-06  Casual          4518
            Member          6894
2018-05-07  Casual          3319
            Member         10503
2018-05-08  Casual          2622
            Member         11235
2018-05-09  Casual          2709
            Member         11348
2018-05-10  Casual          2649
            Member         10399
2018-05-11  Casual          4184
            Member         10845
2018-05-12  Casual          6114
            Member          8113
2018-05-13  Casual          3081
            Member          5175
2018-05-14  Casual          2481
            Member          8378
2018-05-15  Casual          2672
            Member          9782
                           ...
2018-05-17  Casual           510
            Member          4285
2018-05-18  Casual           471
            Member          4305
2018-05-19  Casual          2044
            Member          4754
2018-05-20  Casual          5929
            Member          8151
2018-05-21  Casual          3559
            Member         11068
2018-05-22  Casual          1422
            Member          7205
2018-05-23  Casual          3042
            Member         11526
2018-05-24  Casual          3353
            Member         11115
2018-05-25  Casual          4417
            Member         10408
2018-05-26  Casual          5989
            Member          6625
2018-05-27  Casual          6627
            Member          6347
2018-05-28  Casual          5276
            Member          6862
2018-05-29  Casual          2962
            Member         10379
2018-05-30  Casual          2344
            Member         10419
2018-05-31  Casual          1658
            Member          8472
Length: 62, dtype: int64

# Capital Bike Share May 2017

In [21]:
df2 = pd.read_csv('2017-capitalbikeshare-tripdata/2017Q2-capitalbikeshare-tripdata.csv')

In [ ]:
df2['Start Date'] = pd.to_datetime(df2['Start date']).dt.date
df2['Start Time'] = pd.to_datetime(df2['Start date']).dt.time

df2['End Date'] = pd.to_datetime(df2['End date']).dt.date
df2['End Time'] = pd.to_datetime(df2['End date']).dt.time

In [ ]:
list(df2.columns.values)

In [ ]:
Capital_MemberType17 = df2.groupby(["Start Date", "Member type"])
Capital_MemberType17.size()

In [ ]:
Capital_clean = df2.loc[username] == "Customer"

## Divvy Bike Share May 2017 - NonSubscriber

In [7]:
df3 = pd.read_csv("chicago-divvy-bicycle-sharing-data\Divvy_Trips_-_Non-Subscriber-Only.csv")

In [8]:
df3['Start Date'] = pd.to_datetime(df3['START TIME']).dt.date
df3['Start Time'] = pd.to_datetime(df3['START TIME']).dt.time

df3['End Date'] = pd.to_datetime(df3['STOP TIME']).dt.date
df3['End Time'] = pd.to_datetime(df3['STOP TIME']).dt.time

#df3

In [4]:
list(df3.columns.values)

['TRIP ID',
 'START TIME',
 'STOP TIME',
 'BIKE ID',
 'TRIP DURATION (Secs)',
 'FROM STATION ID',
 'FROM STATION NAME',
 'TO STATION ID',
 'TO STATION NAME',
 'USER TYPE',
 'GENDER',
 'BIRTH YEAR',
 'FROM LATITUDE',
 'FROM LONGITUDE',
 'FROM LOCATION',
 'TO LATITUDE',
 'TO LONGITUDE',
 'TO LOCATION',
 'Start Date',
 'Start Time',
 'End Date',
 'End Time']

In [15]:
Divvy_NonSub17 = df3.groupby(["Start Date","TRIP DURATION (Secs)", "TRIP ID"]).size()
Divvy_NonSub17

Start Date  TRIP DURATION (Secs)  TRIP ID
2017-05-01  66                    13848353    1
            73                    13847467    1
            109                   13850577    1
            122                   13850573    1
            142                   13849979    1
            143                   13848048    1
            170                   13849971    1
            172                   13849964    1
            185                   13849974    1
            197                   13848260    1
            217                   13846855    1
            219                   13846650    1
            256                   13847744    1
            272                   13846810    1
            289                   13848557    1
            310                   13850968    1
            313                   13844509    1
            314                   13850595    1
            317                   13847365    1
            321                   13850043    1
            331                   13847762    1
            333                   13848404    1
            334                   13848573    1
            343                   13847761    1
            344                   13850036    1
                                  13850637    1
            348                   13847994    1
            353                   13851521    1
            354                   13847061    1
            364                   13851196    1
                                             ..
2017-05-31  10369                 14263736    1
            11208                 14251251    1
            11473                 14255016    1
            11982                 14251123    1
            12189                 14263694    1
            12479                 14253670    1
            13043                 14253406    1
            14054                 14252285    1
            14076                 14252282    1
            14776                 14263011    1
            14785                 14263008    1
            14945                 14254809    1
            15006                 14254793    1
            15261                 14259730    1
            15434                 14254521    1
            16117                 14254365    1
            17430                 14256511    1
            17472                 14256505    1
            18383                 14253136    1
            18391                 14253129    1
            18563                 14253080    1
            20319                 14255932    1
            20481                 14255889    1
            22297                 14250665    1
            22311                 14250662    1
            22642                 14250660    1
            26776                 14251818    1
            32151                 14251134    1
            40055                 14263834    1
            85704                 14251546    1
Length: 82319, dtype: int64

In [ ]:
weekday_df3["Weekdate"] = df3["Start Date"].apply(lambda )

# Divvy Bike Share May 2017- Subscriber

In [9]:
df4 = pd.read_csv("chicago-divvy-bicycle-sharing-data\Divvy_Trips_-_Subscriber-Only.csv")

In [35]:
df4_c= df4.drop('START TIME', axis =1)
df4_cl = df4_c.drop('STOP TIME', axis=1)

In [36]:
list(df4_cl.columns.values)

['TRIP ID',
 'BIKE ID',
 'TRIP DURATION (Secs)',
 'FROM STATION ID',
 'FROM STATION NAME',
 'TO STATION ID',
 'TO STATION NAME',
 'USER TYPE',
 'GENDER',
 'BIRTH YEAR',
 'FROM LATITUDE',
 'FROM LONGITUDE',
 'FROM LOCATION',
 'TO LATITUDE',
 'TO LONGITUDE',
 'TO LOCATION',
 'Start Date',
 'Start Time',
 'End Date',
 'End Time']

In [37]:
df4['Start Date'] = pd.to_datetime(df4['START TIME']).dt.date
df4['Start Time'] = pd.to_datetime(df4['START TIME']).dt.time

df4['End Date'] = pd.to_datetime(df4['STOP TIME']).dt.date
df4['End Time'] = pd.to_datetime(df4['STOP TIME']).dt.time
df4.dropna()
df4.head()

,TRIP ID,START TIME,STOP TIME,BIKE ID,TRIP DURATION (Secs),FROM STATION ID,FROM STATION NAME,TO STATION ID,TO STATION NAME,USER TYPE,...,FROM LATITUDE,FROM LONGITUDE,FROM LOCATION,TO LATITUDE,TO LONGITUDE,TO LOCATION,Start Date,Start Time,End Date,End Time
0,13842911,5/1/2017 0:02,5/1/2017 0:07,2976,255,109,900 W Harrison St,22,May St & Taylor St,Subscriber,...,41.874675,-87.650019,POINT (-87.650019 41.874675),41.869482,-87.655486,POINT (-87.655486 41.869482),2017-05-01,00:02:00,2017-05-01,00:07:00
1,13842910,5/1/2017 0:02,5/1/2017 0:24,4909,"1,307",13,Wilton Ave & Diversey Pkwy,489,Drake Ave & Addison St,Subscriber,...,41.932418,-87.652705,POINT (-87.652705 41.932418),41.946782,-87.716422,POINT (-87.716422 41.946782),2017-05-01,00:02:00,2017-05-01,00:24:00
2,13842912,5/1/2017 0:21,5/1/2017 0:32,2522,693,414,Canal St & Taylor St,205,Paulina St & 18th St,Subscriber,...,41.870257,-87.639474,POINT (-87.639474 41.870257),41.857901,-87.668745,POINT (-87.668745 41.857901),2017-05-01,00:21:00,2017-05-01,00:32:00
3,13842913,5/1/2017 0:25,5/1/2017 0:32,258,429,72,Wabash Ave & 16th St,170,Clinton St & 18th St,Subscriber,...,41.860384,-87.625813,POINT (-87.625813 41.860384),41.857950,-87.640826,POINT (-87.640826 41.85795),2017-05-01,00:25:00,2017-05-01,00:32:00
4,13842914,5/1/2017 0:27,5/1/2017 0:44,790,"1,015",295,Broadway & Argyle St,482,Campbell Ave & Montrose Ave,Subscriber,...,41.972972,-87.659637,POINT (-87.659637 41.972972),41.961526,-87.691165,POINT (-87.691165 41.961526),2017-05-01,00:27:00,2017-05-01,00:44:00

In [19]:
Divvy_Sub17 = df4.groupby(["Start Date","TRIP DURATION (Secs)", "TRIP ID", "BIRTH YEAR", "GENDER", "FROM STATION NAME"])
Divvy_Sub17.size()

Start Date  TRIP DURATION (Secs)  TRIP ID   BIRTH YEAR  GENDER  FROM STATION NAME
2017-05-01  1,000                 13843646  1987        Female  Milwaukee Ave & Wabansia Ave       1
                                  13850516  1980        Male    Winchester Ave & Elston Ave        1
            1,001                 13843734  1969        Female  Wells St & Concord Ln              1
                                  13845122  1966        Male    Green St & Randolph St             1
            1,002                 13848642  1990        Male    Daley Center Plaza                 1
            1,003                 13843147  1980        Male    Wabash Ave & Roosevelt Rd          1
                                  13850581  1992        Male    Franklin St & Monroe St            1
            1,004                 13850887  1984        Male    Halsted St & Willow St             1
            1,005                 13848810  1982        Male    Damen Ave & Madison St             1
            1,006                 13844054  1984        Male    Wells St & Concord Ln              1
                                  13848318  1986        Female  Ashland Ave & Chicago Ave          1
                                  13848668  1972        Male    Racine Ave (May St) & Fulton St    1
            1,007                 13845171  1987        Female  Indiana Ave & Roosevelt Rd         1
                                  13846645  1963        Female  Clark St & Elm St                  1
            1,008                 13844452  1971        Male    Clinton St & Jackson Blvd          1
                                  13848674  1983        Male    Michigan Ave & Oak St              1
                                  13849011  1987        Male    LaSalle St & Illinois St           1
            1,009                 13845567  1970        Male    Jefferson St & Monroe St           1
                                  13846291  1984        Male    Ashland Ave & Grand Ave            1
                                  13846530  1976        Male    Lake Shore Dr & Monroe St          1
                                  13846867  1948        Male    Wood St & Taylor St                1
                                  13849135  1977        Male    Franklin St & Lake St              1
            1,011                 13849813  1962        Female  Rush St & Superior St              1
                                  13850178  1988        Male    Halsted St & North Branch St       1
            1,012                 13843550  1986        Female  Michigan Ave & 14th St             1
                                  13846947  1990        Female  Southport Ave & Belmont Ave        1
            1,013                 13843338  1992        Male    Sheffield Ave & Webster Ave        1
                                  13843702  1978        Female  Larrabee St & Kingsbury St         1
                                  13844997  1980        Female  Canal St & Adams St                1
            1,014                 13844042  1988        Male    Clinton St & Lake St               1
                                                                                                  ..
2017-05-31  994                   14253601  1987        Male    Southport Ave & Irving Park Rd     1
                                  14254722  1973        Male    Michigan Ave & Washington St       1
                                  14261737  1988        Female  Eckhart Park                       1
            995                   14247356  1961        Male    Southport Ave & Clybourn Ave       1
                                  14248614  1991        Female  Clark St & 9th St (AMLI)           1
                                  14259310  1986        Male    Lake Shore Dr & Wellington Ave     1
                                  14261716  1985        Male    Artesian Ave & Hubbard St          1
                                  14261987  1991        Male    Clinton St & Jackson Blvd          1
            996                   14253545  1989        Male    Richmond St & Diversey Ave         1
                                  14263507  1993        Male    Green St & Madison St              1
                                  14263642  1981        Male    Damen Ave & Cortland St            1
            997                   14249137  1952        Female  Western Ave & 21st St              1
                                  14249184  1989        Male    Wells St & Concord Ln              1
                                  14257961  1974        Female  Clinton St & Jackson Blvd          1
                                  14263137  1992        Female  Michigan Ave & Washington St       1
            998                   14248569  1986        Female  Clark St & Lincoln Ave             1
                                  14252753  1990        Female  Dayton St & North Ave              1
                                  14257230  1979        Female  Richmond St & Diversey Ave         1
                                  14264841  1989        Male    Clark St & Lincoln Ave             1
            999                   14246365  1990        Female  Southport Ave & Clybourn Ave       1
                                  14249252  1980        Female  Michigan Ave & 18th St             1
                                  14250726  1986        Female  Streeter Dr & Grand Ave            1
                                  14256077  1988        Male    Clinton St & Washington Blvd       1
                                  14257747  1952        Female  Ashland Ave & Harrison St          1
                                  14258352  1982        Male    Financial Pl & Congress Pkwy       1
                                  14258805  1985        Female  St. Clair St & Erie St             1
                                  14260095  1989        Male    Southport Ave & Wellington Ave     1
                                  14261748  1991        Female  MLK Jr Dr & 29th St                1
                                  14262956  1989        Male    Rush St & Hubbard St               1
                                  14263624  1991        Male    Paulina Ave & North Ave            1
Length: 263631, dtype: int64

In [29]:
df4.dtypes

TRIP ID                   int64
START TIME               object
STOP TIME                object
BIKE ID                   int64
TRIP DURATION (Secs)     object
FROM STATION ID           int64
FROM STATION NAME        object
TO STATION ID             int64
TO STATION NAME          object
USER TYPE                object
GENDER                   object
BIRTH YEAR                int64
FROM LATITUDE           float64
FROM LONGITUDE          float64
FROM LOCATION            object
TO LATITUDE             float64
TO LONGITUDE            float64
TO LOCATION              object
Start Date               object
Start Time               object
End Date                 object
End Time                 object
dtype: object

In [ ]:
df4_organized = pd.DataFrame({
    "TRIP DURATION (Secs)": df4['TRIP DURATION (Secs)'],\
    "TRIP ID": df4['TRIP ID'],\
    
})

In [ ]:
Divvy_Sub17_StationCount = df4.groupby("Start Date")["FROM STATION NAME"].value_counts().fillna(0)
Divvy_Sub17_StationCount

In [18]:
def weekday(x):
    if x["2017-05-07"] == "2017-05-07":
        return 'Sunday'
    elif x["2017-05-14"] == "2017-05-14":
        return 'Sunday'
    elif x["2017-05-21"] == "2017-05-21":
        return 'Sunday'
    elif x["2017-05-28"] == "2017-05-28":
        return 'Sunday'
    elif x["2017-05-01"] == "2017-05-01":
        return 'Monday'
    elif x["2017-05-08"] == "2017-05-08":
        return 'Monday'
    elif x["2017-05-15"] == "2017-05-15":
        return 'Monday'
    elif x["2017-05-22"] == "2017-05-22":
        return 'Monday'
    elif x["2017-05-29"] == "2017-05-29":
        return 'Monday'
    elif x["2017-05-02"] == "2017-05-02":
        return 'Tuesday'
    elif x["2017-05-09"] == "2017-05-09":
        return 'Tuesday'
    elif x["2017-05-16"] == "2017-05-16":
        return 'Tuesday'
    elif x["2017-05-23"] == "2017-05-23":
        return 'Tuesday'
    elif x["2017-05-30"] == "2017-05-30":
        return 'Tuesday'
    elif x["2017-05-03"] == "2017-05-03":
        return 'Wednesday'
    elif x["2017-05-10"] == "2017-05-10":
        return "Wednesday"
    elif x["2017-05-17"] == "2017-05-17": 
        return 'Wednesday'
    elif x["2017-05-24"] == "2017-05-24":
        return 'Wednesday'
    elif x["2017-05-31"] == "2017-05-31":
        return 'Wednesday'
    elif x["2017-05-04"] == "2017-05-04":
        return 'Thursday'
    elif x["2017-05-11"] == "2017-05-11":
        return 'Thursday'
    elif x["2017-05-18"] == "2017-05-18":
        return 'Thursday'
    elif x["2017-05-25"] == "2017-05-25":
        return 'Thursday'
    elif x["2017-05-05"] == "2017-05-05":
        return 'Friday'
    elif x["2017-05-12"] == "2017-05-12":
        return 'Friday'
    elif x["2017-05-19"] == "2017-05-19":
        return 'Friday'
    elif x["2017-05-26"] == "2017-05-26":
        return 'Friday'
    elif x["2017-05-06"] == "2017-05-06":
        return 'Saturday'
    elif x["2017-05-13"] == "2017-05-13":
        return 'Saturday'
    elif x["2017-05-20"] == "2017-05-20":
        return 'Saturday'
    elif x["2017-05-27"] == "2017-05-27":
        return 'Saturday'
df4["Week Day"] = df4["Start Date"].apply(weekday)
df4

NameError: name 'df4' is not defined

In [ ]:
Divvy_Sub17_Count = df4.groupby("Start Date")["FROM STATION NAME"].value_counts().unstack().fillna(0)
Divvy_Sub17_Count

In [ ]:
Divvy_Sub17_Duration = df4.groupby(["Start Date","TRIP DURATION (Secs)", "TRIP ID", ""])
Divvy_Sub17_Duration.size()

## Citi Bike Share Data - May 2018

In [ ]:
df5 = pd.read_csv('JC-201805-citibike-tripdata.csv')

In [ ]:
list(df5.columns.values)

In [ ]:
df5['Start Date'] = pd.to_datetime(df5['starttime']).dt.date
df5['Start Time'] = pd.to_datetime(df5['starttime']).dt.time

df5['End Date'] = pd.to_datetime(df5['stoptime']).dt.date
df5['End Time'] = pd.to_datetime(df5['stoptime']).dt.time

df5

In [ ]:
Citi_MemberType18 = df.groupby(["Start Date", "Member type"])
Citi_MemberType18.size()

## Citi Bike Data - May 2017

In [ ]:
df5 = pd.read_csv('JC-201705-citibike-tripdata.csv')

In [ ]:
df5['Start Date'] = pd.to_datetime(df5['starttime']).dt.date
df5['Start Time'] = pd.to_datetime(df5['starttime']).dt.time

df5['End Date'] = pd.to_datetime(df5['stoptime']).dt.date
df5['End Time'] = pd.to_datetime(df5['stoptime']).dt.time

df5

In [ ]:
Citi_MemberType17 = df.groupby(["Start Date", "Member type"])
Citi_MemberType17.size()